body{
    background-color: rgb(90, 29, 148);
    overflow-y: hidden;
    background-image: url(https://images.unsplash.com/photo-1585079542156-2755d9c8a094?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
    background-repeat: inherit;
    opacity: -3px;
}
img{
    float: left;
    height: 600px;
    width: 590px;
    border-right: violet;
    flex-wrap: 20px;
    opacity: 2px; 
    image-orientation: flip;
}
#projects{
    text-align: center;
}
.name{
    text-align: left;
    -moz-text-size-adjust: 50px;
    text-decoration: whitesmoke;
    color: yellowgreen;
    font-style: italic;
}
h2{
    text-align: center;
     padding-bottom: 20px solid green;
     padding: 30px solid white;
     color: yellowgreen;
}
ul{
    text-align: center;
    color: aliceblue;
}
li{
    text-align: center;
    font-weight: 300px;
}
p{
    text-align: center;
    color: violet;
}
.link{
    color: blueviolet;
}
#footer{
    text-align: center;
    color: tomato;
    margin-bottom: -300px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
a:hover{
    color: darkred;
    background-color: yellowgreen;
}
a{
    color: blue;
}
ol>li {
    color: maroon;
    font-weight: bold;
}
alert{
    color: yellowgreen;
    background-color: midnightblue;
}